# Unit 10. 리스트와 튜플사용하기

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
person = ['james', 17,175.3, True]
person

['james', 17, 175.3, True]

In [ ]:
# 빈 리스트를 만들 때
empty_list = []
el = list()

In [4]:
# range
range(9)

range(0, 9)

In [6]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
b = list(range(1,10))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
c = list(range(1,10,2))
c

[1, 3, 5, 7, 9]

In [10]:
d = list(range(10, 0, -1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [1]:
x = int(input())
y = int(input())
a = list((x,y))
a

5
10

[5, 10]

In [11]:
# tuple
a = (38, 21, 53, 62, 19)
a

(38, 21, 53, 62, 19)

In [13]:
b = 23, 5, 32
b

(23, 5, 32)

In [14]:
person = ('james', 17, 175.3, True)
person

('james', 17, 175.3, True)

In [16]:
person = 3
person

3

In [17]:
# 한개의 엘리먼트를 갖는 튜플
(38)

38

In [18]:
(38,)

(38,)

In [19]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [20]:
a = tuple(range(1,10))
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [21]:
c = tuple(range(1,10,2))
c

(1, 3, 5, 7, 9)

In [22]:
d = tuple(range(10, 0, -1))
d

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

In [23]:
# List <--> Tuple
tuple_a = tuple([1,2,3])
tuple_a

(1, 2, 3)

In [24]:
list_a = list((1,2,3))
list_a

[1, 2, 3]

In [25]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [26]:
tuple('안녕하세요')

('안', '녕', '하', '세', '요')

In [28]:
a, b, c=[1,2,3]
print(a,b,c)

1 2 3

In [29]:
d, e, f =(4,5,6)
print(d,e,f)

4 5 6

In [30]:
x,y,z= 7,8,9
print(x,y,z)

7 8 9

In [31]:
# Swapping
x = 10
y = 20
x,y,=y,x
print(x,y)

20 10

In [32]:
# 입력과 연계
x =input()

10

In [34]:
print(x, int(10))

10 10

In [35]:
x = input().split()

10 20 30

In [36]:
x

['10', '20', '30']

In [39]:
a,b,c = map(int, ['10', '20', '30'])
print(a,b,c)

10 20 30

In [41]:
a, b, c = map(int, input('숫자 3개입력>').split())

숫자 3개입력>10 20 30

In [42]:
print(a, b,c)

10 20 30

In [43]:
[int(i)for i in input('숫자 3개입력>').split()]

숫자 3개입력>10 20 30

[10, 20, 30]

In [47]:
a = list(range(5,-10,-2))
print(a)

[5, 3, 1, -1, -3, -5, -7, -9]

In [61]:
# 표준 입력으로 정수가 입력됩니다. 
# range의 시작하는 숫자는 -10, 끝나는 숫자는 10이며 
# 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고, 
# 해당 튜플을 출력하는 프로그램을 만드세요
# (input에서 안내 문자열은 출력하지 않아야 합니다).

a =tuple(range(-10,10,int(input())))
print(a)

2
(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)