# Unit 16. for 반복문

In [1]:
for i in range(5):
    print('hello world')

hello world
hello world
hello world
hello world
hello world

In [2]:
for i in range(5):
    print('hello world', i)

hello world 0
hello world 1
hello world 2
hello world 3
hello world 4

In [3]:
sum = 0
for i in range(1,100,2):
    sum += i
print(sum)

2500

In [4]:
for i in range(10,0):
    print('hello world', i)

In [5]:
for i in range(5, 0, -1):
    print('hello world', i)

hello world 5
hello world 4
hello world 3
hello world 2
hello world 1

In [6]:
for i in reversed(range(5)):
    print('hello world', i)

hello world 4
hello world 3
hello world 2
hello world 1
hello world 0

In [7]:
for i in range(5):
    print('Hello world', i)
    i = 5

Hello world 0
Hello world 1
Hello world 2
Hello world 3
Hello world 4

In [8]:
loop = int(input('반복할 횟수> '))
for i in range(loop):
    print('Hello world',i)

반복할 횟수> 3
Hello world 0
Hello world 1
Hello world 2

# 시컨스 객체로 반복하기

In [9]:
a = [10,20,30,40,50]
for element in a:
    print(element, end=' ')

10 20 30 40 50

In [10]:
fruits = ('apple', 'orange', 'grape')
for fruit in fruits:
    print(fruit, end=' ')

apple orange grape

In [11]:
for letter in 'Python':
    print(letter, end=' ')

P y t h o n

In [12]:
for letter in reversed('Python'):
    print(letter, end=' ')

n o h t y P

In [18]:
count = int(input())

for i in range(count):
    print('i의 값은', end=' ')
    print(i)

5
i의 값은 0
i의 값은 1
i의 값은 2
i의 값은 3
i의 값은 4

In [19]:
x = [49, -17, 25, 102, 8, 62, 21]
for i in x:
    print(i*10, end=' ')

490 -170 250 1020 80 620 210

In [71]:
y = int(input())
for i in range(1,10):
    print(y, '*', i,'=',(y*i))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18