# Unit 22. 리스트와 튜플 응용하기

# 리스트 조작

In [1]:
a = [10,20,30]
a.append(500)
a

[10, 20, 30, 500]

In [2]:
a.append([3,4])
a

[10, 20, 30, 500, [3, 4]]

In [3]:
# 3x6 list에 1~6 랜덤값 채우기
import random as rd
x=[]
for i in range(3):               # 행의 갯수
    row =[]
    for k in range(6):          #열의 갯수
        row.append(rd.randint(1,6)) #빈리스트안에 랜덤값을 1~6까지 추가
    x.append(row)  # 위의 for이 끝나고 다시 x안에 빈값(row[])추가

In [4]:
def print_matrix(x):
    for row in x:             #한줄이 row
        for element in row:   #한줄안에 숫자를 뽑는 것
            print(element, end=' ')
        print()

In [5]:
print_matrix(x)

3 2 5 2 2 4
5 1 4 5 4 2
2 1 3 3 4 4

In [6]:
# old-fashioned
def old_print_matrix(x):
    for i in range(len(x)):  # 행의 갯수가 오면 안됨.
        for k in range(len(x[0])):
            print(x[i][k], end=' ')
        print()

In [7]:
old_print_matrix(x)

3 2 5 2 2 4
5 1 4 5 4 2
2 1 3 3 4 4

In [8]:
# 리스트 엘리먼트 삭제
a.pop()

[3, 4]

In [9]:
a

[10, 20, 30, 500]

In [10]:
a.index(30)

2

In [11]:
# 특정 값의 개수 구하기
a.append(20)
a

[10, 20, 30, 500, 20]

In [12]:
a.count(20)

2

In [13]:
# 리스트의 순서를 뒤집기
# 데이터 자체가 바뀌는지 아님 출력하는 것만 바뀌는 건지 확인해야됨
a.reverse()

In [14]:
a

[20, 500, 30, 20, 10]

In [15]:
a.sort()
a

[10, 20, 20, 30, 500]

In [16]:
a.sort(reverse=True)
a

[500, 30, 20, 20, 10]

In [17]:
a = [10,20,30,15,20,40]
a.sort()
a

[10, 15, 20, 20, 30, 40]

In [18]:
# 보여줄때만 바뀜
b= [10, 20, 30, 15, 20, 40]
sorted(b)

[10, 15, 20, 20, 30, 40]

In [19]:
b

[10, 20, 30, 15, 20, 40]

In [20]:
# 리스트를 추가
a = [10,20,30]
a[3] = 40

IndexError: list assignment index out of range

In [ ]:
a[3:] = [40]
a

In [ ]:
a[4:] =(50,)

In [ ]:
a

### 리스트 할당과 복사

In [ ]:
a = [0, 0, 0, 0, 0]
b = a

In [ ]:
b

In [ ]:
b[2] = 2
b

In [ ]:
a

In [ ]:
# ab가 포인팅 하는 부분을 묻기에 같다고 함
a is b

In [ ]:
# b.copy는 a가 만든 리스트(객체)를 복사 후 바꾼 리스트(객체)에 2로 변경,a의 리스트(객체)는 그대로
a = [0, 0, 0, 0, 0]
b = a.copy()
b[2] = 2
a

In [ ]:
a is b

In [ ]:
a =[3,6,5,4,2,2]

In [ ]:
for i in range(len(a)):
    a[i]

# 인덱스와 요소를 함께 출력

### 반복문으로 출력하기

In [ ]:
a = [10, 20, 30, 40]
for index, value in enumerate(a): #  in enumerate 하면 인덱스 벨류값출력
    print(index, value)

### 유용한 함수

## 가장 작은 수와 가장 큰 수 구하기

In [ ]:
# 가장 작은 수는?
a = [10, 20, 30, 40, 5]
min = a[0]
for i in range(1, len(a)):
    if a[i]<min:
        min = a[i]
min

In [ ]:
# 가장 작은/큰 수는?
a = [10, 20, 30, 40, 5]
small = a[0]
large = a[0]
for i in range(1, len(a)):
    if a[i]< small:
        min = a[i]
    if a[i] > large:
        max = a[i]
print(small, large)

In [ ]:
a.sort()
print(a[0],a[-1])

In [21]:
a = [38,21,53,62,19]
min(a)

19

In [22]:
print(max(a), min(a))

62 19

###  리스트 표현식 사용하기(list 컴프리헨션comprehension)

In [24]:
# 1에서 10까지 제곱수를 리스트로 만드시오
sq = []
for i in range(1,11):
    sq.append(i*i)
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
sq_new = [i*i for i in range(1 ,11)]
sq_new

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
# 홀수
sq_new = [i*i for i in range(1 ,11,2)]
sq_new

[1, 9, 25, 49, 81]

In [28]:
sq_odd = [i*i for i in range(1, 11) if i%2==1]
sq_odd

[1, 9, 25, 49, 81]

In [33]:
a = [i * k for i in range(2,10)
            for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### map 함수

In [34]:
# 
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [35]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(len(a)):
    a[i] = int(a[i]+0.5)
a

[1, 3, 4, 5]

In [37]:
# 정수 input으로 받고 싶을 때
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [39]:
# input으로 받은 것을 map를 이용하여 정수로 변경
# map받은것을 튜플로 튕김
x= list(map(int, input('여러개의 정수> ').split()))
x

여러개의 정수> 10 20 30 40 50

[10, 20, 30, 40, 50]

In [41]:
# 시간을 입력할때
# f가 포맷팅할때 쓰임
hour, minute, second = map(int, input('hh:mm:ss').split(':'))
print(f'{hour=}, {minute=}, {second=}')

hh:mm:ss11:40:35
hour=11, minute=40, second=35

In [42]:
year, month, day = map(int, input('yy-mm-dd').split('-'))
print(f'{year=}, {month=}, {day=}')

yy-mm-dd20-10-30
year=20, month=10, day=30

### 튜플

In [45]:
### 튜플에서 특정 값의 인덱스 구하기
a = (38, 21, 53, 62, 19, 53)
a[3]

62

In [46]:
a.count(21)

1

In [47]:
print(min(a), max(a), sum(a))

19 62 246

In [49]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = i for i in a if len(i)==5
print(b)

SyntaxError: invalid syntax (<ipython-input-49-af5bc5ab0785>, line 2)