# Unit25. 딕셔너리 응용하기

In [1]:
# setdefault는 값을 추가만 함
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.setdefault('e')
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None}

In [2]:

x.setdefault('f', 100)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': None, 'f': 100}

In [3]:
# 값을 변경 또는 추가
x.update(e=50)
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 100}

In [4]:
x.update(a=900, f=60)
x

{'a': 900, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}

In [5]:
# 키가 숫자일 경우엔 
y = {1: 'one', 2: 'two'}
y.update({1: 'ONE', 3: 'THREE'})
y

{1: 'ONE', 2: 'two', 3: 'THREE'}

In [6]:
y.update([[2, 'TWO'], [4, 'FOUR']])
y

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [7]:
y.update(zip([1, 2], ['one', 'two']))
y

{1: 'one', 2: 'two', 3: 'THREE', 4: 'FOUR'}

In [8]:
# 엘리먼트 삭제
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.pop('a')
x

{'b': 20, 'c': 30, 'd': 40}

In [11]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
z = x.pop('a')
x,z

({'b': 20, 'c': 30, 'd': 40}, 10)

In [12]:
z = x.pop('b', 0)
z

20

In [13]:
# 딕션워리가 없는 것을 꺼낼땐 뒤에 있는 값을 출력
z = x.pop('z', 0)
z

0

In [14]:
#  del로 특정 키-값 쌍을 삭제
del x['c']
x

{'d': 40}

In [15]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.popitem()

('d', 40)

In [16]:
x.popitem()

('c', 30)

In [19]:
# 모든 키-값 쌍을 삭제
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.clear()
x

{}

In [23]:
# x['a']로 쓰는 것이나 x.get('a')랑 같다
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.get('a')

10

### 딕셔너리에서 키-값 쌍을 모두 가져오기(중요!!!)

In [25]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x.items()

dict_items([('a', 10), ('b', 20), ('c', 30), ('d', 40)])

In [26]:
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [27]:
x.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [29]:
x.values()

dict_values([10, 20, 30, 40])

In [30]:
for key in x.keys():
    print(key, x[key])

a 10
b 20
c 30
d 40

### 리스트와 튜플로 딕셔너리 만들기

In [31]:
keys = ['a', 'b', 'c', 'd']
x = dict.fromkeys(keys)
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [32]:
y = dict.fromkeys(keys, 100)
y

{'a': 100, 'b': 100, 'c': 100, 'd': 100}

### 딕셔너리와 for 반복문

In [33]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    print(key, value)

a 10
b 20
c 30
d 40

In [34]:
#키만 출력하고 싶을 때
for key in x.keys():
    print(key)

a
b
c
d

In [35]:
# key와 value를 같이 출력하고 싶을 때
for key in x.keys():
    print(key, x.get(key))

a 10
b 20
c 30
d 40

In [39]:
# 값만 출력할 때
for value in x.values():
    print(value)

10
20
30
40

### 딕셔너리 표현식

In [40]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys).items()}
x

{'a': None, 'b': None, 'c': None, 'd': None}

In [41]:
keys = ['a', 'b', 'c', 'd']
x = {key: value for key, value in dict.fromkeys(keys, 0).items()}
x

{'a': 0, 'b': 0, 'c': 0, 'd': 0}

In [6]:
# key와 value를 서로 바꾸어 출력시
{value: key for key, value in {'a': 10, 'b': 20, 'c': 30, 'd': 40}.items()}

{10: 'a', 20: 'b', 30: 'c', 40: 'd'}

In [7]:
# if 조건문(필터링)
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
for key, value in x.items():
    if value == 20:     # 값이 20이면
        del x[key]     # 키-값 쌍 삭제
x

RuntimeError: dictionary changed size during iteration

In [44]:
# value 가 20이 아닌 놈만 제외하고 출력하라.(!=20)
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value != 20}
x

{'a': 10, 'c': 30, 'd': 40}

In [45]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
x = {key: value for key, value in x.items() if value < 25}
x

{'a': 10, 'b': 20}

### Nested Dictionary(딕셔너리 안에서 딕셔너리 사용)

In [48]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}
   # 6051.8

In [47]:
# 금성의 반지름
print(terrestrial_planet['Venus']['mean_radius'])

6051.8

In [50]:
for outer_key, outer_value in terrestrial_planet.items():
    print(outer_key)
    for inner_key, inner_value in outer_value.items():
        print('\t',inner_key, ':\t', inner_value,sep='')

Mercury
	mean_radius:	2439.7
	mass:	3.3022e+23
	orbital_period:	87.969
Venus
	mean_radius:	6051.8
	mass:	4.8676e+24
	orbital_period:	224.70069
Earth
	mean_radius:	6371.0
	mass:	5.97219e+24
	orbital_period:	365.25641
Mars
	mean_radius:	3389.5
	mass:	6.4185e+23
	orbital_period:	686.96

### 딕셔너리의 할당과 복사

In [51]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 99}

In [52]:
x = {'a': 10, 'b': 20, 'c': 30, 'd': 40}
y = x.copy()
y['d'] = 99
x

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [53]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
y = x.copy()
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7.15'}, 'b': {'python': '3.6'}}

In [54]:
x = {'a': {'python': '2.7'}, 'b': {'python': '3.6'}}
import copy
y = copy.deepcopy(x)
y['a']['python'] = '2.7.15'
x

{'a': {'python': '2.7'}, 'b': {'python': '3.6'}}

### 연습문제 : 평균 점수 구하기

In [57]:
maria = {'korean': 94, 'english': 91, 'mathematics': 89, 'science': 83}
average = sum(maria.values())/len(maria)
print(average)

89.25

In [62]:
### 표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 
### 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다. 
### 다음 코드를 완성하여 딕셔너리에서 키가 
### 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

x = {keys: values for keys, values in x.items() if values != 30}
x = {keys: values for keys, values in x.items() if keys !='delta'}

print(x)

alpha bravo charlie delta echo foxtrot golf
30 40 50 60 70 80 90
{'bravo': 40, 'charlie': 50, 'echo': 70, 'foxtrot': 80, 'golf': 90}