# Unit 26. 세트 사용하기

In [1]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [2]:
type(fruits)

set

In [4]:
## 중복이 허용이 안되며, 순서 보장이 안됨

fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

In [5]:
### 값을 지정해서 뺄수가 없다
fruits[0]

TypeError: 'set' object is not subscriptable

In [6]:
'orange' in fruits

True

In [7]:
'peach' not in fruits

True

In [9]:
# 각각의 단어로 이루어진 set가 만들어짐
a = set('apple')    # 유일한 문자만 세트로 만듦 , a= {'apple'}으로 할경우만 apple값을 가진 것이 만들어짐 
a

{'a', 'e', 'l', 'p'}

In [10]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [13]:
h = set('안녕하세요')
h

{'녕', '세', '안', '요', '하'}

### 집합 연산 사용

In [15]:
# 합집합
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [16]:
# or
a.union(b)

{1, 2, 3, 4, 5, 6}

In [17]:
# 교집합(intersection), AND
a & b

{3, 4}

In [18]:
a.intersection(b)

{3, 4}

In [19]:
## 차집합
a - b

{1, 2}

In [20]:
a.difference(b)

{1, 2}

In [21]:
#  대칭 차집합(XOR)
a ^ b

{1, 2, 5, 6}

In [22]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [23]:
#  집합 연산 후 할당 연산자 사용
a |= {5}
a

{1, 2, 3, 4, 5}

In [24]:
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [25]:
# 겹치는 요소만 현재 세트에 저장
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [27]:
a.intersection_update({0,1,2,3,4})
a

{1, 2, 3, 4}

In [28]:
# 현재 세트에서 다른 세트를 뺌
a -={3}
a

{1, 2, 4}

In [29]:
a.difference_update({3})
a

{1, 2, 4}

In [30]:
#   부분 집합과 상위집합 확인
a = {1,2,3,4}
a <= {1,2,3,4}

True

In [32]:
a.issubset({1,2,3,4})

True

In [33]:
a >= {1,2,3,4}

True

In [35]:
a.issubset({1, 2, 3, 4})

True

In [36]:
a == {4,2,1,3}

True

In [37]:
# 세트가 겹치지 않는지 확인
a.isdisjoint({3, 4, 5, 6}) # 겹치는 요소가 없음

False

###   세트에 요소 추가

In [41]:
a.add(5)        # a |={5} 또는 a.update({5})와 같다
a

{1, 2, 4, 5}

In [43]:
a.remove(3)
a

KeyError: 3

In [44]:
# 세트에서 특정 요소를 삭제하고 요소가 없으면 그냥 넘어갑니다
a.discard(2)
a

{1, 4, 5}

In [45]:
#세트에서 임의의 요소 삭제
a = {1, 2, 3, 4}
a.pop()

1

In [46]:
# 세트의 모든 요소를 삭제
a.clear()
a

set()

In [47]:
#  세트의 요소 개수 구하기
a = {1, 2, 3, 4}
len(a)

4

In [48]:
#세트의 할당과 복사

In [49]:
a = {1, 2, 3, 4}
b = a

In [52]:
b.add(5)
a

{1, 2, 3, 4}

In [51]:
a = {1, 2, 3, 4}
b = a.copy()
b.add(5)
a

{1, 2, 3, 4}

### 반복문으로 세트의 요소를 모두 출력

In [55]:
a = {4,3,2,1}
for i in a:
    print(i)

1
2
3
4

### 세트 표현식

In [56]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [57]:
#  세트 표현식에 if 조건문 사용
# 파인애플 안에서 apl을 빼고 나머지만 출력한다
a = {i for i in 'pineapple' if i not in 'apl'}
a

{'e', 'i', 'n'}

### 연습문제: 공배수 구하기

In [58]:
a = {i for i in range(1,101) if i % 3 == 0}
b = {i for i in range(1,101) if i % 5 == 0}
print(a & b)

{75, 45, 15, 90, 60, 30}

In [61]:
# 표준 입력으로 양의 정수 두 개가 입력됩니다. 
# 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요.
# 단, 최종 결과는 공약수의 합으로 판단합니다.

a, b = map(int, input().split())
a = {i+1 for i in range(a) if a%(i+1)==0} # 약수 식
b = {i+1 for i in range(b) if b%(i+1)==0}

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

100 200
217

In [63]:
a, b = map(int, input().split())
a = {i for i in range(1, a + 1) if a % i == 0}
b = {i for i in range(1, b + 1) if b % i == 0}

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

10 20
18