# Unit 32. 람다 표현식 사용하기

In [1]:
def plus_ten(x):
    return x + 10

In [3]:
print(plus_ten(20))

30

In [5]:
plus_ten(20)

30

In [4]:
## 위의 식을 람다함수로 바꿀때
lambda_ten = lambda x: x + 10 # 변수에다 함수모양을 주면 
lambda_ten(20)

30

In [6]:
list(map(plus_ten,[1,2,3]))

[11, 12, 13]

In [7]:
# 이런 식으로 익명(람다)함수를 사용할때 자주 사용함
# 리턴문 하나만 있을때만 사용가능
# 함수를 편하게 할때 사용
list(map(lambda x: x + 10, [1,2,3]))

[11, 12, 13]

### 3항 연산자

In [ ]:
# 참일때 값 if 조건식 else 거짓일때 값
x = 8
y = 0
if x >10: # 이런걸 ReLU
    y = x
else:
    y = 10
y

In [13]:
# 참일 때 값 if 조건식 else 거짓일때 값
y = x if x >10 else 10
y

10

In [14]:
# 삼항연산자를 람다 표현식으로 사용하면 두가지값으로 갈라져서 쓸수잇음
relu = lambda x: x if x >= 0 else 0 # 이런함수가 Relu
relu(-3)

0

In [15]:
relu(4)

4

### map에 객체를 여러 개 넣기

In [17]:
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
list(map(lambda x, y: x * y, a, b))#x,y 입력을 받아서 리턴을 x*y 리스트로 ab

[2, 8, 18, 32, 50]

###  filter 사용하기

In [18]:
# x가 5보다 크거나 10보다 작으면 x(T) 아니면 f(내려보내지 않음)
def f(x):
    return x > 5 and x < 10

In [20]:
a = [2, 4, 6, 8, 10, 12]
list(filter(f, a))

[6, 8]

In [22]:
list(filter(lambda x: x >5 and x <10, a))

[6, 8]

In [23]:
# 람다 리스트 표현식
# filter 보단 리스트 표현식을 많이 나옴
[x for x in a if x > 5 and x < 10]

[6, 8]